[{:type       :pull-request
  :repo       "hacker1/repo1"
  :user       "hacker1"
  :created-at "2017-02-07T12:25:30"}

 {:type       :pull-request
  :repo       "hacker1/repo1"
  :user       "hacker2"
  :created-at "2017-02-07T12:26:00"}

 {:type       :issue
  :repo       "hacker3/repo1"
  :user       "hacker1"
  :created-at "2017-02-07T13:25:03"}

 {:type       :issue
  :repo       "hacker3/repo1"
  :user       "hacker2"
  :created-at "2017-02-08T01:10:00"}

 {:type       :issue
  :repo       "hacker3/repo1"
  :user       "hacker2"
  :created-at "2017-02-08T02:20:30"}

 {:type       :push
  :repo       "hacker1/repo2"
  :user       "hacker3"
  :commits    3
  :created-at "2017-02-08T03:25:20"}]
