$color-alabaster: #F8F8F8;
$color-mine-shaft: #212121;
$color-scorpion: #565656;
$color-matisse: #1C63A5;
$color-aqua-forest: #60A57F;
$color-deco: #D9E099;
$color-sandy-brown: #EEA857;
$color-burnt-sienna: #EE6356;

$color-commits: $color-burnt-sienna;
$color-pull-requests: $color-sandy-brown;
$color-issues: $color-deco;
$color-comments: $color-aqua-forest;
$color-languages: $color-matisse;
